<h2>Cars</h2>

<h3>Search Results for <%= search %> </h3>

<% newcars.forEach((c) => { %>
    <p><%= c.model %></p>
    <img src="<%= c.image %>" />
    <form action="cars/fav" method="POST"> 
    <input type="hidden" id="favecar_model" name="favecar_model" value="<%= c.model %>"/>
    <input type="hidden" id="favecar_make" name="favecar_make" value="<%= c.make %>"/>
    <input type="hidden" id="favecar_image" name="favecar_image" value="<%= c.image %>"/>
    <input type="hidden" id="userId" name="userId" value="<%= currentUser.id %>"/>

    <button type="submit">Add to Favorites</button>
    </form>
<% }) %>  