<%
const domainMap = {
  'Acura': 'acura.com',
  'Alfa Romeo': 'alfaromeo.com',
  'Aston Martin': 'astonmartin.com',
  'Audi': 'audi.com',
  'Bentley': 'bentleymotors.com',
  'BMW': 'bmw.com',
  'Bugatti': 'bugatti.com',
  'Buick': 'buick.com',
  'Cadillac': 'cadillac.com',
  'Chevrolet': 'chevrolet.com',
  'Chrysler': 'chrysler.com',
  'Citroën': 'citroen.com',
  'Cupra': 'cupraofficial.com',
  'Dacia': 'dacia.com',
  'Daewoo': 'gm.com',
  'Daihatsu': 'daihatsu.com',
  'Dodge': 'dodge.com',
  'Ferrari': 'ferrari.com',
  'Fiat': 'fiat.com',
  'Ford': 'ford.com',
  'Genesis': 'genesis.com',
  'GMC': 'gmc.com',
  'Honda': 'honda.com',
  'Hummer': 'gmc.com',
  'Hyundai': 'hyundai.com',
  'Infiniti': 'infinitiusa.com',
  'Isuzu': 'isuzu.com',
  'Jaguar': 'jaguar.com',
  'Jeep': 'jeep.com',
  'Kia': 'kia.com',
  'Lamborghini': 'lamborghini.com',
  'Land Rover': 'landrover.com',
  'Lexus': 'lexus.com',
  'Lincoln': 'lincoln.com',
  'Lancia': 'lancia.com',
  'Lotus': 'lotuscars.com',
  'Lucid': 'lucidmotors.com',
  'Maserati': 'maserati.com',
  'Mazda': 'mazda.com',
  'McLaren': 'mclaren.com',
  'Mercedes-Benz': 'mercedes-benz.com',
  'Mercury': 'ford.com',
  'MG': 'mgmotor.co.uk',
  'MINI': 'mini.com',
  'Mitsubishi': 'mitsubishicars.com',
  'Nissan': 'nissan.com',
  'Oldsmobile': 'gm.com',
  'Opel': 'opel.com',
  'Pagani': 'pagani.com',
  'Peugeot': 'peugeot.com',
  'Plymouth': 'dodge.com',
  'Polestar': 'polestar.com',
  'Porsche': 'porsche.com',
  'Ram': 'ramtrucks.com',
  'Renault': 'renault.com',
  'Rivian': 'rivian.com',
  'Rolls-Royce': 'rolls-roycemotorcars.com',
  'Saab': 'saab.com',
  'Saturn': 'gm.com',
  'Scion': 'toyota.com',
  'SEAT': 'seat.com',
  'Škoda': 'skoda-auto.com',
  'Smart': 'smart.com',
  'Subaru': 'subaru.com',
  'Suzuki': 'suzuki.com',
  'Tesla': 'tesla.com',
  'Toyota': 'toyota.com',
  'Vauxhall': 'vauxhall.co.uk',
  'Volkswagen': 'vw.com',
  'Volvo': 'volvocars.com',
};
%>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Browse Manufacturers</h1>
    <p class="lead text-muted"><%= makes.length %> manufacturers</p>
  </div>
</section>

<div class="makes-container">
  <div class="makes-grid">
    <%
    const withLogo = makes.filter(m => domainMap[m.make]);
    const withoutLogo = makes.filter(m => !domainMap[m.make]);
    const sortedMakes = [...withLogo, ...withoutLogo];
    sortedMakes.forEach(function(m) {
      const domain = domainMap[m.make] || null;
      const initials = m.make.split(/[\s\-]/).map(w => w[0]).join('').slice(0, 2).toUpperCase();
    %>
      <div class="make-tile-wrap">
        <a href="/cars?selectmake=<%= encodeURIComponent(m.make) %>" class="make-tile">
          <div class="make-logo-wrap">
            <span class="make-logo-initials"><%= initials %></span>
            <% if (domain) { %>
              <img
                class="make-logo"
                src="https://www.google.com/s2/favicons?domain=<%= domain %>&sz=64"
                alt="<%= m.make %>"
                referrerpolicy="no-referrer"
                onerror="this.style.display='none'"
              >
            <% } %>
          </div>
          <span class="make-name"><%= m.make %></span>
          <span class="make-count"><%= m.modelCount != null ? m.modelCount + ' models' : 'Browse' %></span>
        </a>
      </div>
    <% }); %>
  </div>
</div>
